delete firewall zone
{% if firewall_zones is defined %}
{% for zone in firewall_zones %}
{% if zone['name'] is defined %}
{% if zone['interfaces'] is defined %}
{% for interface in zone['interfaces'] %}
{% if interface == 'local-zone' %}
set firewall zone {{ zone['name'] }} local-zone
{% else %}
set firewall zone {{ zone['name'] }} interface '{{ interface }}'
{% endif %}
{% endfor %}
{% endif %}
{% if zone['default_log'] is defined %}
set firewall zone {{ zone['name'] }} default-log
{% endif %}
{% if zone['default_action'] is defined %}
set firewall zone {{ zone['name'] }} default-action '{{ zone['default_action'] }}'
{% endif %}
{% if zone['intra_filtering_action'] is defined %}
set firewall zone {{ zone['name'] }} intra-zone-filtering action '{{ zone['intra_filtering_action'] }}'
{% endif %}
{% if zone['desc'] is defined %}
set firewall zone {{ zone['name'] }} description '{{ zone['desc'] }}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% if firewall_rules is defined %}
{% for ruleset in firewall_rules %}
{% if ruleset['ipv4'] is defined %}
{% if ruleset['name'] is defined %}
{% if ruleset['intra_zone_assignments'] is defined %}
{% for assignment in ruleset['intra_zone_assignments'] %}
set firewall zone {{ assignment }} intra-zone-filtering firewall name '{{ ruleset['name'] }}'
{% endfor %}
{% endif %}
{% if ruleset['assignments'] is defined %}
{% for assignment in ruleset['assignments'] %}
{% if assignment['from'] is defined %}
{% if assignment['to'] is defined %}
set firewall zone {{ assignment['to'] }} from {{ assignment['from'] }} firewall name '{{ ruleset['name'] }}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% if ruleset['ipv6'] is defined %}
{% if ruleset['name'] is defined %}
{% if ruleset['intra_zone_assignments'] is defined %}
{% for assignment in ruleset['intra_zone_assignments'] %}
set firewall zone {{ assignment }} intra-zone-filtering firewall ipv6-name '{{ ruleset['name'] }}-IPV6'
{% endfor %}
{% endif %}
{% if ruleset['assignments'] is defined %}
{% for assignment in ruleset['assignments'] %}
{% if assignment['from'] is defined %}
{% if assignment['to'] is defined %}
set firewall zone {{ assignment['to'] }} from {{ assignment['from'] }} firewall ipv6-name '{{ ruleset['name'] }}-IPV6'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% if ruleset['bridge'] is defined %}
{% if ruleset['name'] is defined %}
{% if ruleset['intra_zone_assignments'] is defined %}
{% for assignment in ruleset['intra_zone_assignments'] %}
set firewall zone {{ assignment }} intra-zone-filtering firewall name '{{ ruleset['name'] }}'
{% endfor %}
{% endif %}
{% if ruleset['assignments'] is defined %}
{% for assignment in ruleset['assignments'] %}
{% if assignment['from'] is defined %}
{% if assignment['to'] is defined %}
set firewall zone {{ assignment['to'] }} from {{ assignment['from'] }} firewall name '{{ ruleset['name'] }}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
