delete firewall zone
{% if fw_zones is defined %}
{% for zone in fw_zones %}
{% if zone['name'] is defined %}
{% if zone['interfaces'] is defined %}
{% for interface in zone['interfaces'] %}
{% if interface == 'local-zone' %}
set firewall zone {{ zone['name'] }} local-zone
{% else %}
set firewall zone {{ zone['name'] }} interface '{{ interface }}'
{% endif %}
{% endfor %}
{% endif %}
{% if zone['default_log'] is defined %}
set firewall zone {{ zone['name'] }} default-log
{% endif %}
{% if zone['default_action'] is defined %}
set firewall zone {{ zone['name'] }} default-action '{{ zone['default_action'] }}'
{% endif %}
{% if zone['intra_filtering_action'] is defined %}
set firewall zone {{ zone['name'] }} intra-zone-filtering action '{{ zone['intra_filtering_action'] }}'
{% endif %}
{% if zone['desc'] is defined %}
set firewall zone {{ zone['name'] }} description '{{ zone['desc'] }}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
