delete firewall global-options
{% if firewall_global_options is defined %}
{% for option in firewall_global_options %}
{% if option['name'] is defined %}
{% if option['setting'] is defined %}
set firewall global-options {{ option['name'] }} '{{ option['setting'] }}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
