delete system option
{% if options is defined %}
{% for option in options %}
{% if option['name'] is defined %}
{% if option['setting'] is defined %}
set system option {{ option['name'] }} '{{ option['setting'] }}'
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
